{% extends "template.html" %}

<!-- change content -->
{%block bodytag%}
<body class="fimport">
{%endblock%}

{%block header%}
<p class="fimporttapp">File import</p>
{%endblock%}

{%block content%}  
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="uploadfile" type="file" id="files" required/>
    <input name="fsubmit" type="submit" id="import" value="import"/>
</form>

<br><br>
<hr>
<table class="attendtab">
    <tr>
        <th>Name</th>
        <th>Number</th>       
        <th>SignIn</th>
        <th>SignBack</th>
        <th>Date</th>
        <th>MachineName</th>       
        <th>Status</th>
        <th>Type</th>
    </tr>

</table>
{%endblock%}