
{% load static %}
<!-- change content -->
{%block bodytag%}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script  src="{% static 'js/jquery-ui.min.js' %}"></script>
<link rel="stylesheet" href= "{% static 'css/jquery-ui.min.css' %}">
<script src="{% static 'js/afsty2.js' %}"></script>
<link rel="stylesheet" href= "{% static 'css/afsty.css' %}">
<body class="fimport">
{%endblock%}

{%block header%}
<a href="/annual/" class="alaplbtn">Application</a>
<p class="fimporttapp">Annual list</p>
<hr>
<hr>
{%endblock%}

{%block content%}

<table class="annualtab">
    <!-- table header -->
    <tr>
        <th>Item</th>
        <th>Start</th>
        <th>Stop</th>
        <th>Days</th>
        <th>Status</th>
        <th>Other</th>
    </tr>
   <!-- table header end -->
<!-- table body -->

   {% comment %}
     {% if  %}
   {% endcomment %}
    <tr>
        <td>{{item}}</td>
        <td>{{start}}</td>
        <td>{{stop}}</td>
        <td>{{Daysnum}}</td>
        <td>{{status}}</td>
        <td><a href="#">detail</a></td>
    </tr>
    {% comment %}
      {% endif %}
    {% endcomment %}

<!-- table body end -->
</table>
{%endblock%}