{% extends "template.html" %}

<!-- change content -->
{%block bodytag%}
<body class="fimport">
{%endblock%}

{%block header%}
<p class="fimporttapp">File import</p>
{%endblock%}

{%block content%}  
<form id="fileimport" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <input name="imsubmit" type="submit" id="import" value="import"/>
  </form>
  <!-- query -->
<form action="" id="attquery">
  <label for="">Name: </label><input type="text" id="staffname" value="">
  &nbsp&nbsp
  <label for="">Starttime: </label><input type="date" id="qstime" value="">
  &nbsp&nbsp
  <label for="">Endtime: </label><input type="date" id="qetime" value="">
  &nbsp&nbsp
  <label for="">Machine: </label>
  <select name="machinename" id="machinename">
    <option value="0">All</option>
    <option value="1">M5</option>
    <option value="2">M4</option>
    <option value="3">M3</option>
  </select>
  <input name="queryinfo" type="submit" id="queryinfo" value="query">
  <input name="exsubmit" type="submit" id="export" value="export">
</form>
{{len}}
{{attendlist}}

<hr>
   {% comment %} <table class="attendtab">
      <tr>
      <th>Item</th>
      <th>afnum</th>
      <!-- <th>name</th> -->
      <th>date</th>
      <th>weekday</th>
      <th>ST</th>
      <th>verifyS</th>
      <th>ET</th>
      <th>verifyE</th>
      <th>hours</th>
      <th>machinename</th>
    </tr>
      {% for afnum,date,weekday,ST,verifyS,ET,verifyE,hours,machinename in attendlist %}
      <tr>
      <td>{{forloop.counter}}</td>
      <td>{{afnum}}</td>
      <!-- <td>{{name}}</td> -->
      <td>{{date}}</td>
      <td>{{weekday}}</td>
      <td>{{ST}}</td>
      <td>{{verifyS}}</td>
      <td>{{ET}}</td>
      <td>{{verifyE}}</td>
      <td>{{hours}}</td>
      <td>{{machinename}}</td>
      </tr>
      {% endfor %}
  </table>  {% endcomment %}
{%endblock%}